<i class="social-icons-fa-github"><a href="https://github.com" target="_blank" title="GitHub"><i
                class="fa fa-github"></i>
        <i style="font-size:24px"></i>
        <a href="https://github.com/sumana-reddy/FSA-group8">GitHub Source Code</a>