
    <h1>Full Stack app-8</h1>
    <div class="pos-f-t">



        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-toggler" href="../../views/location/list.ejs"  aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </a>
        </nav>
    </div>