<!--
*  location delete view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display the item to delete.
*
* @author Sumana Reddy <s538360@nwmissouri.edu>
-->
  
  
  <div class="card-body">
  
    <table class="table">
      <tbody>
         <tr>
          <td>
            <form action="/delete" method="post">
              <input type="submit" class="btn btn-danger delete" value="Delete" onclick="return alert('Are you sure?')"/>
            </form>
          </td>
        </tr>
  
      </tbody>
    </table>
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
