<!DOCTYPE html>

<html>

<head>
    <%- include('../views/partials/head.ejs'); %>
    <script type="module" src="/javascripts/main.js"></script>
</head>

<body>
<%- include('../views/partials/header.ejs'); %>
<div class="container">
    <h1 class="text-center">Full Stack app-8</h1>

    <div class="d-flex justify-content-center mb-3">
        <div id="status1" class="p-2"></div>
        <div id="status2" class="p-2"></div>
    </div>

    <div class="d-flex justify-content-center mb-3">
        <button type="button" id="reset" class="btn btn-success p-2">Reset</button>
    </div>
</div>

</body>

<%- include('../views/partials/footer.ejs'); %>

</html>

