<!DOCTYPE html>

<html>

<head>
    <%- include('../views/partials/head.ejs'); %>
</head>

<body>
<main>
    <header>
        <%- include('../views/partials/header.ejs'); %>
    </header>
    <article>
        <div>
            <div id="container">
                <div id="status1"></div>
                <div id="status2"></div>
            </div>
        </div>
    </article>
</main>

</body>
<footer id="foot">
    <%- include('../views/partials/footer.ejs'); %>
</footer>

</html>
