<!DOCTYPE html>

<html>

<head>
    <%- include('../views/partials/head.ejs'); %>
    <script type="module" src="/javascripts/main.js"></script>
</head>

<body>
<%- include('../views/partials/header.ejs'); %>
<div class="container">
    <h1 class="text-center">Full Stack app-8</h1>
<main>
    <article>
        <div>
            <div>
                <div id="status1"></div>
                <div id="status2"></div>
            </div>
        </div>
    </article>
</main>
</div>
</body>

    <%- include('../views/partials/footer.ejs'); %>

</html>

