/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
.container {
  flex: 1 0 auto;
}

article {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -220px;
  margin-top: -120px;
}

#status1 {
  height: 200px;
  width: 200px;
  background: brown;
  float: left;
  margin-left: 2px;
  border: 1px solid #ccc;
}

#status2 {
  height: 200px;
  width: 200px;
  background: orange;
  float: left;
  margin-left: 2px;
  border: 1px solid #ccc;
}

.footer {
  flex-shrink: 0;
  /*width: 100%;*/
  background-color: #ccc;
  padding: 15px;
  color: white;
  text-align: center;
}
